/* CSS Document */
/* 全局样式 */
body {
    font-family: 'Arial', sans-serif; /* 设置全局字体 */
    background-color: #f8f8f8; /* 背景颜色 */
    color: #333; /* 文字颜色 */
    margin: 0;
    padding: 20px; /* 为页面内容添加边距 */
}

/* 标题样式 */
h1 {
    font-size: 2.5em; /* 标题字体大小 */
    color: #005A9C; /* 标题颜色 */
    margin-bottom: 0.5em; /* 标题下边距 */
}

h3 {
    font-size: 1.5em; /* 子标题字体大小 */
    color: #333; /* 子标题颜色 */
    margin-bottom: 0.5em; /* 子标题下边距 */
}


/* 表格样式 */
table {
    width: 100%; /* 表格宽度 */
    border-collapse: collapse; /* 边框合并 */
    margin-bottom: 20px; /* 表格下边距 */
}

th, td {
    border: 1px solid #ddd; /* 边框样式 */
    padding: 10px; /* 内边距 */
    text-align: left; /* 文本对齐 */
}

th {
    background-color: #005A9C; /* 表头背景颜色 */
    color: white; /* 表头文字颜色 */
}

th a, td a {
    color: white; /* 链接颜色 */
    text-decoration: none; /* 去除下划线 */
}

th a:hover, td a:hover {
    color: #f8f8f8; /* 鼠标悬停链接颜色 */
    text-decoration: underline; /* 鼠标悬停添加下划线 */
}

/* 图片样式 */
img {
    vertical-align: middle; /* 图片垂直对齐 */
    max-width: 100%; /* 图片最大宽度 */
    height: auto; /* 图片高度自适应 */
}

/* 表格中的单元格和表格标题的字体样式 */
table th, table td {
    text-align: center; /* 文本居中 */
    font-size: 25px; /* 字体大小*/
}
/* 段落样式 */
p {
    font-size: 22px; /* 设置字体大小 */
    line-height: 1.6; /* 设置行高 */
    text-align: left; /* 设置文本左对齐 */
    text-indent: 2em; /* 设置首行缩进 */
    margin: 0 0 20px 0; /* 设置段落上下边距 */
}

